*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Gabarito", sans-serif;
}

/* Navbar*/
.navbar{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 
    1;
}
.navbar__s1__title{
    color: #a435f0;
}

.navbar__s2{
    display: flex;
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    gap: 10px;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    width: 100%;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px   ;
    align-items: center;
}
/*My learning popup*/
.my-learning{
    position: relative;
}
.my-learning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    right: 0;
    padding: 20%;
    display: none;
}
.my-learning:hover .my-learning__popup{
    display: block;
}
.my-learning:hover{
    cursor: pointer;
}

/*Category*/
.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid black 1px;
}
.category p{
    background-color: #a435f0;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

/*Sale image*/
.sale-image{
    position: relative;
}

.sale-image__offer{
    width: 35%;
    position: absolute;
    top: 270px;
    left: 40px;
    border: solid black 2px;
    background-color: white;
    padding: 1.5%;
}
.sale-iamge img{
    width: 200px;
}

/* Recomended*/
.recomended{
    padding: 10px;
}
.recomended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.course-card{
    width: 250px;
}
.course-card img{
    width: 100%;
    height: 60%;
}

/*Topics*/
.topics{
    padding: 10px;
}
.topic__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    
}
.topic__container p{
    border: solid grey 2px;
    flex-basis: 25%;
    padding: 10px;
    flex-grow: 1;
}

/*Most popular*/
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

/*Footer*/
.footer{
    background-color: black;
    color: white;
}
.footer__one{
    display: flex;
    gap: 20px;
}
.footer__one p{
    margin: 20px;
}

.footer__two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}